	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a target="_blank" href="https://dev.to/shroomlife" class="icon hvr-grow-shadow"><i class="fab fa-dev fa-2x" title="DEV.to"></i></a></li>
			<li><a target="_blank" href="https://www.facebook.com/theshroomlife" class="icon hvr-grow-shadow"><i class="fab fa-facebook fa-2x" title="Facebook"></i></a></li>
			<li><a target="_blank" href="https://github.com/shroomlife" class="icon hvr-grow-shadow"><i class="fab fa-github fa-2x" title="GitHub"></i></a></li>
			<li><a target="_blank" href="https://www.instagram.com/theshroomlife" class="icon hvr-grow-shadow"><i class="fab fa-instagram fa-2x" title="Instagram"></i></a></li>
			<li><a target="_blank" href="https://www.linkedin.com/in/shroomlife/" class="icon hvr-grow-shadow"><i class="fab fa-linkedin fa-2x" title="LinkedIn"></i></a></li>
			<li><a target="_blank" rel="me" href="https://mastodon.social/@shroomlife" class="icon hvr-grow-shadow"><i class="fab fa-mastodon fa-2x" title="Mastodon"></i></a></li>
			<li><a target="_blank" href="https://www.tiktok.com/@shroomlife" class="icon hvr-grow-shadow"><i class="fab fa-tiktok fa-2x" title="TikTok"></i></a></li>
			<li>
				<a target="_blank" href="https://x.com/theshroomlife" class="icon hvr-grow-shadow x-icon">
					<svg viewBox="0 0 24 24" aria-hidden="true">
						<g>
							<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
							</path>
						</g>
					</svg>
				</a>
			</li>
			<li><a target="_blank" href="https://www.youtube.com/channel/UCCaAUGxfOS0wds5Ieowz0QQ" class="icon hvr-grow-shadow"><i class="fab fa-youtube fa-2x" title="YouTube"></i></a></li>
		</ul>
		<ul class="links">
			<li><a href="/datenschutz">Datenschutz</a></li>
			<li><a href="/impressum">Impressum</a></li>
		</ul>
    <p class="copyright">&copy; 2023 shroomlife - awesome developer since 2008</p>
    
		<ul class="links">
			<li><a href="/mm">m&amp;m</a></li>
		</ul>
	</footer>

	<!--
		Scripts 
		<script type="text/javascript" src="assets/js/socket.io.js"></script>
	-->
	<div class="scripts">

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.mousewheel.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

		<script src="assets/js/masonry.pkgd.min.js"></script>
		<script src="assets/js/tippy.all.min.js"></script>
		<script src="assets/js/lazyload.min.js"></script>
		<script src="assets/js/moment.min.js"></script>

		<script src="assets/js/shroomlife.js"></script>

	</div>

</body>

</html>
