<!doctype html>
<html lang="de">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">

	<base href="//{{host}}" />
	<title>{{title}}</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/css/animate.min.css" />
	<link rel="stylesheet" href="assets/css/hover.min.css" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/panda.css" />
	<link rel="stylesheet" href="assets/css/custom.css" />
	<link rel="stylesheet" href="assets/lib/font-awesome/css/all.min.css" />
	<link rel="stylesheet" href="assets/css/devicon.min.css" />
	<link rel="stylesheet" href="assets/css/tippy-light.css" />

	<!-- fb tags -->
	<meta property="og:title" content="{{title}}" />
	<meta property="og:url" content="https://{{host}}/{{page}}" />
	<meta property="og:image" content="https://{{host}}/images/social.jpg" />
	<meta property="og:image:alt" content="shroomlife web developer" />
	<meta property="og:type" content="profile" />
	<meta property="og:site_name" content="shroomlife" />
	<meta property="og:description" content="{{seo_desc}}" />
	<meta property="fb:app_id" content="315889519247797" />

	<meta property="profile:first_name" content="Robin" />
	<meta property="profile:last_name" content="Lehmann" />
	<meta property="profile:gender" content="male" />
	<meta property="profile:username" content="shroomlife" />


	<!-- twitter tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@theshroomlife">
	<meta name="twitter:creator" content="@theshroomlife" />

	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{seo_desc}}">
	<meta name="twitter:image" content="https://{{host}}/images/social.jpg">
	<meta name="twitter:image:alt" content="shroomlife web developer">


	<!-- google seo tags -->
	<meta name="description" content="{{seo_desc}}">
	<meta name="google-site-verification" content="hcWZhVqitSx94suiWDzKHL4JQGuyuePwoH2rXY4bCts" />

	<!-- pwa manifest -->
	<link rel="manifest" href="/manifest.json">

	<meta name="theme-color" content="#20b246"/>

</head>

<body class="is-preload">
