{{> include path="header" title="shroomlife - dein entwickler. schreib mir. 🍄"}}
{{> include path="navbar"}}

<div class="container">

	<div class="col-12">
		<div id="reply"></div>
	</div>

	<div class="connections">
		{{#each connections}}
		<div class="card">
			<div class="card-header">
				chat by {{this.name}}
			</div>
			<div class="card-body">
				<h6 class="card-subtitle mb-2 text-muted">{{this.id}}</h6>
				<a href="javascript:" class="btn btn-primary reply-btn">reply</a>
			</div>
			</div>
		{{/each}}
	</div>

</div>

{{> include path="footer"}}
