{{> include path="header" title="datenschutz - shroomlife"}}
{{> include path="navbar"}}

<section class="wrapper">
	<div class="container">

		<header class="major major-left">
			<h2>datenschutz</h2>
		</header>

		<p>
			hier gibts keine cookies. hier gibts kein tracking. hier gibts nur dich und mich.
		</p>

		<p>
			deine daten, deine macht!
		</p>

	</div>
</section>

{{> include path="footer"}}
