{{> include path="header" title="datenschutz - shroomlife"}}
{{> include path="navbar"}}

<section class="wrapper">
	<div class="container">

		<header class="major major-left">
			<h2>datenschutz</h2>
		</header>

		<p>
			hier gibts kein tracking. hier gibts keine cookies. hier gibts nur dich und mich. wenn du mir schreibst, dann bekommt die daten verschlüsselt mein server und dieser schickt sie dann verschlüsselt zu mir. also alles was du schreibst, läuft gefahr von mir gelesen zu werden! ansonsten speichere ich vor allem nichts über dich. alles was du hier eingibst, wird auf deinem aktuellen device gespeichert. wenn du also alles wieder löschen willst, dann einfach den cache deines browsers löschen und alles ist wieder weg.
		</p>

		<p>
			deine daten, deine macht!
		</p>

	</div>
</section>

{{> include path="footer"}}
