{{> include path="header" title="impressum - shroomlife"}}
{{> include path="navbar"}}

<section class="wrapper">
	<div class="container">

		<header class="major major-left">
			<h2>impressum</h2>
		</header>

		<p>
			Robin Lehmann<br />
			Bahnhofstr. 98<br />
			71679 Asperg<br />
		</p>

		<p>
			Telefon: +49 7141 5077172<br />
			E-Mail: robin@shroomlife.de
		</p>

	</div>
</section>

{{> include path="footer"}}
